<% provide(:title, "Home") %>
<% carousel_images = [] %>
<% carousel_images = (1..27).map { |i| "#{root_url}/images/carousel/#{i}.jpg" } %>
<%# carousel_images << "#{root_url}/images/manou_fifi_japon.jpg" %>
<%# carousel_images << "#{root_url}/images/fifi_fred_mouchoum.jpg" %>
<%# carousel_images << "#{root_url}/images/manou_fifi_temple.jpg" %>

<div id="homepage">
  <div id="carousel-homepage" class="carousel slide" data-ride="carousel" data-interval="3500">
    <ol class="carousel-indicators">
      <% carousel_images.each_with_index do |_, i| %>
        <li data-target="#carousel-homepage" data-slide-to="<%= i %>" class="<%= 'active' if i == 0 %>"></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% carousel_images.each_with_index do |url, i| %>
        <%= render "carousel_item", url: url, active: i == 0 %>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carousel-homepage" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-homepage" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <%= render 'layouts/flash' %>

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <%= public_image_tag("images/lieu.jpg", class: "rounded-circle", width: 140, height: 140) %>
        <h2>Lieu</h2>
        <p>du texte</p>
        <p><%= link_to("View details", page_path("location"), class: "btn btn-secondary") %></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= public_image_tag("images/planning.jpg", class: "rounded-circle", width: 140, height: 140) %>
        <h2>Planning des festivités</h2>
        <p>du texte</p>
        <p>
          <%= link_to "Aller à la page dédiée", page_path("schedule"), class: "btn btn-secondary", role: "button" %>
        </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= public_image_tag("images/guests.jpg", class: "rounded-circle", width: 140, height: 140) %>
        <h2>Invités</h2>
        <p>Page en cours de construction</p>
        <%#<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>%>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
</div>
