<% provide(:title, "Home") %>
<% carousel_images = (1..5).map { |i| "#{public_image_url("images/carousel/#{i}.jpg")}" } %>

<div id="homepage">
  <div id="carousel-homepage" class="carousel slide mb-5 mb-sm-4" data-ride="carousel" data-interval="4000">
    <ol class="carousel-indicators">
      <% carousel_images.each_with_index do |_, i| %>
        <li data-target="#carousel-homepage" data-slide-to="<%= i %>" class="<%= 'active' if i == 0 %>"></li>
      <% end %>
    </ol>
    <div class="language-indicators d-flex justify-content-center">
      <% Locales::AVAILABLE.each do |l, data| %>
        <%= link_to flag_icon(data[:flag_id]), root_url(locale: l), class: "btn btn-custom mx-3" %>
      <% end %>
    </div>
    <div class="carousel-inner">
      <% carousel_images.each_with_index do |url, i| %>
        <%= render "carousel_item", url: url, active: i == 0 %>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carousel-homepage" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-homepage" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <%= render 'layouts/flash' %>

  <div class="container">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-12 col-md-6">
        <%= public_image_tag("images/bike_names.png", width: "90%") %>
      </div>
      <div class="col-12 col-md-6 infos d-flex flex-column text-center">
        <div>
          <%= t 'homepage.day' %>
          <br/>
          <%= t 'homepage.date' %>
          <hr/>
        </div>
        <div>
          <%= t 'homepage.town' %> <%= public_image_tag("images/france.png", width: "80px") %>
        </div>
      </div>
      <div class="col-12 col-sm-4 mt-2">
        <%= link_to(t('navigation.schedule'), page_path("schedule"), class: "btn btn-custom mx-auto w-100") %>
      </div>
      <div class="col-12 col-sm-4 mt-2">
        <%= link_to(t('homepage.main_places'), page_path("location"), class: "btn btn-custom mx-auto w-100") %>
      </div>
      <div class="col-12 col-sm-4 my-2">
        <%= link_to(t('navigation.accommodation'), page_path("accommodation"), class: "btn btn-custom mx-auto w-100") %>
      </div>
    </div><!-- /.row -->
  </div>
</div>
<script>
$(function() {
  // Lazy load the images to avoid bandwidth waste on mobile
  $("#carousel-homepage").on("slide.bs.carousel", function(ev) {
    var img = $(ev.relatedTarget).find(".carousel-image[data-url]");
    if (img.length != 0) {
      img.css("background-image", "url(" + img.data('url') + ")");
      img.removeAttr("data-url");
    }
  });
});
</script>
