<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guest.name %> <%= flag_icon(@guest.country_iso2) %>
</p>

<% if @guest.avatar.file.nil? %>
  <strong>L'utilisateur n'a pas de photo.</strong>
<% else %>
  <%= public_image_tag(@guest.avatar.url) %>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @guest.description %>
</p>

<p>
  Invited by <%= @guest.invited_by %> and <%= @guest.confirmed ? "confirmed" : "not confirmed" %>.
</p>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
