<header>
  <nav class="navbar navbar-expand-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-container w-100">
      <div id="navbar-main" class="collapse navbar-collapse justify-content-sm-center">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to root_url, class: "nav-link" do %>
              <%= public_image_tag("images/maison.jpg") %>
              <%= t 'navigation.home' %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to page_path("location"), class: "nav-link" do %>
              <!-- GwenofGwened [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], from Wikimedia Commons -->
              <%= public_image_tag("images/gwenn_ha_du.png") %>
              <%= t 'navigation.places' %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to page_path("under_construction"), class: "nav-link" do %>
              <%= public_image_tag("images/maison.jpg") %>
              <%= t 'navigation.accommodation' %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to page_path("schedule"), class: "nav-link" do %>
              <%= public_image_tag("images/planning.jpg") %>
              <%= t 'navigation.schedule' %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to page_path("under_construction"), class: "nav-link" do %>
              <%= public_image_tag("images/guests.jpg") %>
              <%= t 'navigation.guests' %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to page_path("under_construction"), class: "nav-link" do %>
              <%= public_image_tag("images/contact.jpg") %>
              <%= t 'navigation.contact' %>
            <% end %>
          </li>
          <li class="nav-item dropdown d-flex">
            <a href="#" class="dropdown-toggle ml-4 mx-sm-2 my-2 my-sm-auto" data-toggle="dropdown" data-hover="dropdown">
              <% active_locale_info = Locales::AVAILABLE[I18n.locale] %>
              <%= flag_icon(active_locale_info[:flag_id]) %>
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu" role="menu">
              <% Locales::AVAILABLE.each do |l, data| %>
                <%= link_to flag_icon(data[:flag_id]), url_for(locale: l), class: "nav-link dropdown-item" %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
