<header>
  <nav class="navbar navbar-expand-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-container w-100">
      <div id="navbar-main" class="collapse navbar-collapse justify-content-sm-center">
        <ul class="navbar-nav">
          <%= render "shared/nav_item", path: root_url,
            icon_name: "home", text: t('navigation.home') %>
          <%= render "shared/nav_item", path: page_path("location"),
            icon_name: "map-marker", text: t('navigation.places') %>
          <%= render "shared/nav_item", path: page_path("under_construction"),
            icon_name: "bed", text: t('navigation.accommodation') %>
          <%= render "shared/nav_item", path: page_path("schedule"),
            icon_name: "calendar", text: t('navigation.schedule') %>
          <%= render "shared/nav_item", path: page_path("under_construction"),
            icon_name: "users", text: t('navigation.guests') %>
          <%= render "shared/nav_item", path: page_path("under_construction"),
            icon_name: "envelope", text: t('navigation.contact') %>
          <li class="nav-item dropdown d-flex">
            <a href="#" class="dropdown-toggle ml-4 mx-sm-2 my-2 my-sm-auto" data-toggle="dropdown" data-hover="dropdown">
              <% active_locale_info = Locales::AVAILABLE[I18n.locale] %>
              <%= flag_icon(active_locale_info[:flag_id]) %>
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu" role="menu">
              <% Locales::AVAILABLE.each do |l, data| %>
                <%= link_to flag_icon(data[:flag_id]), url_for(locale: l), class: "nav-link dropdown-item" %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
