<%= render 'layouts/basic_body', has_footer: true do %>
  <%= render 'layouts/navigation' %>

  <div id="main-container">
    <%= render 'layouts/flash' %>

    <div class="container">
      <%= yield %>
    </div>
  </div>

  <%= render 'layouts/footer' %>
<% end %>
